/vendor/
/node_modules/
/.env
/.env.*
!/.env.example
/bootstrap/cache/*.php
/storage/*.key
/storage/logs/
/public/hot
/public/storage
*.lock
storage/api-docs/
.idea/
.vscode/
*.iml
.DS_Store
.phpunit.result.cache
.codex
